{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="main-content">
        <div class="main-content__container">
            <h2 class="main-content__section-name">Папки</h2>

            <div class="main-content__section main-content__folders">
                {% for d in directory_objects %}
                    <div class="main-content__item folder">
                        <a class="folder__link" href="{{ d.get_absolute_url }}">
                            <div class="folder__color">
                                <svg class="folder-svg svg">
                                    <use xlink:href="#fill_folder"></use>
                                </svg>
                            </div>
                            <div class="folder__title">
                                <p>{{d.title}}</p>
                            </div>
                        </a>
                        <div class="folder__delete">
                                <a href="{% url 'files:directory-delete' d.uuid_id %}"> 
                                    <svg class="folder-svg svg">
                                        <use xlink:href="#Delete"></use>
                                    </svg>    
                                </a>
                                
                            </div>
                    </div>
                {% endfor %}
            </div>

            <h2 class="main-content__section-name">Файлы</h2>


            <div class="main-content__section main-content__file">
                {% for f in file_objects %}
                    <div class="main-content__item file">
                        <a class="folder__link" href="{{f.file.url}}">
                            <div class="folder__color">
                                <svg class="folder-svg svg">
                                    <use xlink:href="{{f.file_type}}"></use>
                                </svg>
                            </div>
                            <div class="folder__title">
                                <p>{{f.title}}</p>
                            </div>
                        </a>
                        <div class="folder__delete">
                             
                             <a href="#">
                                
                                <svg class="folder-svg svg">
                                    <use xlink:href="#Delete"></use>
                                </svg>        
                             </a>
                             
                            
                        </div>
                    </div>
                {% endfor %}
              
{% endblock content %}