{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="main-content">
        <div class="main-content__container">
            <h2 class="main-content__section-name">Папки</h2>

            <div class="main-content__section main-content__folders">
                {% for d in directory_objects %}
                    <a class="main-content__item folder" href="{{ d.get_absolute_url }}">
                        <div class="folder__color">
                            <svg class="folder-svg svg">
                                <use xlink:href="#fill_folder"></use>
                            </svg>
                        </div>
                        <div class="folder__title">
                            <p>{{d.title}}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <h2 class="main-content__section-name">Файлы</h2>


            <div class="main-content__section main-content__file">
                {% for f in file_objects %}
                    <a class="main-content__item file" href="{{f.get_absolute_url}}">
                    <div class="folder__color">
                        <svg class="folder-svg svg">
                            <use xlink:href="{{f.file_type}}"></use>
                        </svg>
                    </div>
                    <div class="folder__title">
                        <p>{{f.title}}</p>
                    </div>
                </a>
                {% endfor %}
                <!-- <a class="main-content__item file" href="/">
                    <div class="folder__color">
                        <svg class="folder-svg svg">
                            <use xlink:href="#Word"></use>
                        </svg>
                    </div>
                    <div class="folder__title">
                        <p>Word документ</p>
                    </div>
                </a>
                <a href="/" class="main-content__item file">
                    <div class="folder__color">
                        <svg class="folder-svg svg">
                            <use xlink:href="#Excel"></use>
                        </svg>
                    </div>
                    <div class="folder__title">
                        <p>Excel документ</p>
                    </div>
                </a>
                <a href="/" class="main-content__item file">
                    <div class="folder__color">
                        <svg class="folder-svg svg">
                            <use xlink:href="#PowerP"></use>
                        </svg>
                    </div>
                    <div class="folder__title">
                        <p>Power Point документ</p>
                    </div>
                </a>
                <a href="/" class="main-content__item file">
                    <div class="folder__color">
                        <svg class="folder-svg svg">
                            <use xlink:href="#UnknownFile"></use>
                        </svg>
                    </div>
                    <div class="folder__title">
                        <p>Неизвестный файл</p>
                    </div>
                </a>
                <a href="/" class="main-content__item file">
                    <div class="folder__color">
                        <svg class="folder-svg svg">
                            <use xlink:href="#PDF"></use>
                        </svg>
                    </div>
                    <div class="folder__title">
                        <p>PDF файл</p>
                    </div>
                </a>
                <a href="/" class="main-content__item file">
                    <div class="folder__color">
                        <svg class="folder-svg svg">
                            <use xlink:href="#Image"></use>
                        </svg>
                    </div>
                    <div class="folder__title">
                        <p>image файл</p>
                    </div>
                </a>
                <a href="/" class="main-content__item file">
                    <div class="folder__color">
                        <svg class="folder-svg svg">
                            <use xlink:href="#Video"></use>
                        </svg>
                    </div>
                    <div class="folder__title">
                        <p>Video файл</p>
                    </div>
                </a>
            </div>
        </div>
    </section> -->
{% endblock content %}

