{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="main-content">
        <div class="main-content__container">
            <div class="popup__registration-container">
                <div class="popup-create-folder__body popup__body">
                    <div class="popup-create-folder__content popup__registration">
                        <a href="#">
                            <div class="popup_close close__popup"></div>
                        </a>
                        <div class="popup__title">Войти</div>
                        <form method="POST" class="form">
                            {% csrf_token %}
                            <input name="username" class="popup__input" type="text" placeholder="Логин">
                            <input name="password" class="popup__input" type="password" placeholder="Пароль">
                            <button type="submit" class="popup__button button">Войти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}